<nav id='gnb'>

    <li>
        <a href="/"><img src="/img/home.png" width="30vw" alt="" ></a>
    </li>
    <li>
        <a href="/servicegp"><img src="/img/gp.png" width="35vw" alt=""></a>
    </li>
    <li>
        <a href="/servicercp"><img src="/img/rcp.png" width="30vw" alt=""></a>
    </li>
    <li>
        <a href="/mychat"><img src="/img/chat.png" width="30vw" alt=""></a>
    </li>
    <li>
        <a href="/alarm"><img src="/img/alarm.png" width="30vw" alt=""></a>
    </li>
    <li>
        <a href="/myinfo"><img src="/img/profile.png" width="30vw" alt=""></a>
    </li>
</nav>